@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 15s linear infinite;
}

@keyframes squareOrbit {
  0% {
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  25% {
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(0deg);
  }


  26% {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  50% {
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  51% {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  75% {
    top: 100%;
    left: 0%;
    transform: translate(-50%, -50%) rotate(180deg);
  }


  76% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  100% {
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}


.animate-square-orbit {
  position: absolute;
  animation: squareOrbit 15s linear infinite;
}

.animate-square-orbit-ghost{
  position: absolute;
  animation: squareOrbit 15s linear infinite;
   animation-delay: -2.75s;
    z-index: 10;
}

@keyframes autoFlip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.auto-flip {
  animation: autoFlip 20s infinite linear;
}
